.bg-theme-dropdown {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color:  #343a40;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  position: fixed;
  bottom: 0;
  right: 0;
}


