.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #212529;

  a {
    color: #1971c2;
    text-decoration: none;
    font-weight: bold;
  }
}
