.App {
  text-align: center;
  margin: 20px;
  font-size: 16px;
  box-sizing: border-box;

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .align-items-center {
    align-items: center;
  }

  .justify-content-center {
    justify-content: center;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .flex-item {
    flex: 1;
    margin: 10px 0;
    word-break: break-word;
    padding: 10px;
  }

  button {
    padding: 5px;
    margin: 5px;
    height: 40px;
    cursor: pointer;
    text-align: center;
  }

  textarea {
    resize: none;
  }

  label,
  .theme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    color: #22b8cf;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .theme-options {
    label {
      color: #f783ac;
    }
  }

  textarea,
  input {
    font-size: 20px;
    font-weight: 500;
    color: #868e96;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px #aaa;
  }

  input[type="radio"] {
    box-shadow: none;
  }

  .error {
    color: red;
    font-weight: bold;
    font-size: 26px;
    display: block;
  }

  .wide-100 {
    width: 100%;
  }

  .encrypt,
  .decrypt {
    background: none;
    border: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    width: 140px;
    &.active {
      border-bottom: 3px solid #0c8599;
    }
  }

  .encrypt-btn,
  .decrypt-btn {
    background: #1098ad;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
  }

  .theme {
    padding-left: 0;
  }

  .encrypted-text {
    font-size: 30px;
    font-weight: 500;
    &.latin {
      color: #74b816;
    }
    &.math {
      color: #0ca678;
    }
  }
}
