.dynamic-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0; /* Light background color */
  z-index: -1;

  /* Styling for individual elements */
  .bg {
    position: absolute;
    opacity: 0.2;
    user-select: none;
  }
}

